.btn {
  display: inline-block;
  cursor: pointer;

  &--primary {
    padding: 12px 24px;
    background-color: $primary;
    color: $white;
    font-size: 16px;
    line-height: 2;
    transition: .6s linear;

    &:hover {
      background-color: $black;
    }
  }

  &--block {
    width: 100%;
  }

  &--hamburger {
    background: url(../img/ico_menu.png) no-repeat center / 100%;
    padding: 15px;
  }

  &--close {
    background: url(../img/ico_close.png) no-repeat center / 100%;
    padding: 10px;
  }

  &--plus {
    background: url(../img/ico_plus.png) no-repeat center / 100%;
    width: 12px;
    height: 12px;
  }

  &--banner {
    max-width: 100%;
    height: auto;
  }

  &--scroll-top {
    @include  mediaquery--not-lg() {
      bottom: 20px;
      right: 20px;
    }
    height: 56px;
    width: 56px;
    background-color: #fff;
    background-image: url(../img/ico_arrow-up_blue.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    outline: none;
    border-radius: 50%;
    position: fixed;
    bottom: 32px;
    right: 32px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 5px 6px rgba(0,0,0,0.2);
    opacity:0;
    transition: opacity 0.4s linear;
    pointer-events: none;

    &.is-visible {
      opacity: 1;
      pointer-events: all;
    }
  }

}
